.simple-navbar {
  width: 100%;
  height: 85px;
  background: #800000;
  display: flex;
  align-items: center;
  padding: 1px 43px 15px 43px;
}

.simple-navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.simple-navbar-logo {
  display: flex;
  align-items: flex-start;
  padding-top: 1px;
}

.simple-logo-image {
  width: 113px;
  height: 69px;
  object-fit: contain;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .simple-navbar {
    height: 70px;
    padding: 1px 20px 10px 20px;
  }

  .simple-logo-image {
    width: 90px;
    height: 55px;
  }
}
