.submit-modal {
  width: 100%;
  max-width: 998px;
  background: #FFF;
  border-radius: 35px;
  padding: 75px 33px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.submit-success-icon {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-title {
  color: #800000;
  text-align: center;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 30px 0;
}

.submit-message {
  color: #000;
  text-align: center;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 60px 0;
}

.submit-close-button {
  color: #800000;
  text-align: right;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
}

.submit-close-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .submit-modal {
    max-width: 90%;
    padding: 50px 20px 40px;
  }
  
  .submit-success-icon svg {
    width: 120px;
    height: 120px;
  }
  
  .submit-title {
    font-size: 48px;
  }
  
  .submit-message {
    font-size: 28px;
  }
  
  .submit-close-button {
    font-size: 32px;
  }
}
